<%- include('partials/header'); -%>

<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <textarea data-autoresize rows="1" class="create-input" name="heading" id="heading" placeholder="Heading"></textarea>
            <textarea data-autoresize class="create-input" name="body" id="body" placeholder="Body"></textarea>
        </div>

    </div>

</div>

<%- include('partials/footer'); -%>