<%- include('header'); -%>

<div class="container-fluid blog-title">

    <div class="col icondiv">
        <img class="title-img blog-img" src="images/Mountains.png" alt="">
    </div>
    <div class="col">
        <div class="heading">
            <h1>Blog Title</h1>
            <h5 class="sub-heading">A summary on wy i started this blog and how im planningto make it succeed.</h5>
        </div>
    </div>


        <div class="row bg-light">

            <div class="col-md-9 pt-5 article-body">
                <p><span class="first-letter">L</span>orem ipsum dolor sit amet consectetur adipisicing elit. Enim aliquam necessitatibus, ipsam, nobis culpa atque, ex repudiandae sit consequuntur quibusdam rem amet ipsum. Quibusdam architecto perspiciatis labore iusto dicta quis, necessitatibus quia quos suscipit commodi ex magnam ad incidunt exercitationem unde perferendis quo. Voluptas mollitia corporis, fugit repudiandae assumenda enim commodi. Repudiandae asperiores accusamus quos odio dolores nam esse sit modi. Fuga, voluptatem sequi in quibusdam quis ut suscipit culpa ducimus assumenda, perferendis ex distinctio ab accusantium dolor exercitationem deleniti officiis maiores placeat eos at illo reiciendis mollitia. Delectus autem harum ea sed quia deserunt labore esse excepturi aperiam iusto dolorem sint non suscipit, incidunt cum qui rem debitis magnam dolore eligendi impedit nulla soluta atque! Alias expedita debitis corporis praesentium reprehenderit saepe nam harum? At similique neque aperiam nihil nesciunt beatae adipisci repellendus delectus architecto eum ipsa dignissimos quidem officiis ipsum laborum sit alias, a iure quas ut deleniti labore, esse porro! Repellendus eligendi corporis sunt quasi enim quod soluta nemo illo nostrum eos? Aspernatur fugit placeat ipsa repellendus, magni facere sunt accusamus commodi quidem aliquid quasi a dolorum quaerat eius, possimus saepe dolor ad blanditiis consequatur! Incidunt corporis animi laboriosam facilis velit? Tempore placeat deserunt quisquam quis consequuntur.</p>
            </div>
            <div class="col-md-3">
        
                <div class="sidebar">
                    <div class="make-me-sticky">
                        <div class="sticky-heading pt-5 mb-5 pb-3">
                            <h3>Related articles</h3>
                        </div>
                        <% for (x=0;x<3;x++) { %>                
                            <div class="card m-3">
                            <div class="card-body">
                                <h3 class="card-title">Why do we always go back?</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <div class="btn btn-one">
                                    <span>Read more</span>
                                  </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
        
                </div>
        
        
            </div>
            </div>


</div>