<%- include('partials/header'); -%>

<div class="container-fluid blog-title">

    <div class="col icondiv">
        <img class="title-img blog-img" src="images/Mountains.png" alt="">
    </div>
    <div class="col">
        <div class="heading">
            <h1><%= blog.title %></h1>
            <h5 class="sub-heading"><%= blog.summary %></h5>
        </div>
    </div>


        <div class="row bg-light">

            <div class="col-md-9 pt-5 article-body">
                <p><%= blog.body %></p>
            </div>
            <div class="col-md-3">
        
                <div class="sidebar">
                    <div class="make-me-sticky">
                        <div class="sticky-heading pt-5 mb-5 pb-3">
                            <h3>Related articles</h3>
                        </div>
                        <% for (x=0;x<3;x++) { %>                
                            <div class="card m-3">
                            <div class="card-body">
                                <h3 class="card-title">Why do we always go back?</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <div class="btn btn-one">
                                    <span>Read more</span>
                                  </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
        
                </div>
        
        
            </div>
            </div>


</div>