<%- include('partials/header'); -%>

<div class="container-fluid blog-title">

    <div class="col icondiv">
        <img class="title-img blog-img" src="images/Mountains.png" alt="">
    </div>
    <div class="col">
        <div class="heading">
            <h1>Blog Title</h1>
            <h5 class="sub-heading">A summary on wy i started this blog and how im planningto make it succeed.</h5>
        </div>
    </div>


        <div class="row bg-light">

            <div class="col-md-9 pt-5 article-body">
                <p><span class="first-letter">W</span>hy would anyone change their ways if it wasn't to benifit themselves. This was the question I was struggling with. Being rather self-centered whilest growng up it gave me the feeling that its like they say, "a dog eat dog world."</p>
                <p></p>
                <p>I have never true done anything that would solomly benifit someone else in every possible way.</p>
            </div>
            <div class="col-md-3">
        
                <div class="sidebar">
                    <div class="make-me-sticky">
                        <div class="sticky-heading pt-5 mb-5 pb-3">
                            <h3>Related articles</h3>
                        </div>
                        <% for (x=0;x<3;x++) { %>                
                            <div class="card m-3">
                            <div class="card-body">
                                <h3 class="card-title">Why do we always go back?</h3>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <div class="btn btn-one">
                                    <span>Read more</span>
                                  </div>
                            </div>
                        </div>
                        <%}%>
                    </div>
        
                </div>
        
        
            </div>
            </div>


</div>