
    .brdr {
        border: solid black 1px;
    }

    #navbarNav {
        padding-right: 10%;
    }

    .title {
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
        width: 100%;
        margin-top: auto;
margin-bottom: auto;
text-align: center;
        
    }
    .image{
        width: 250px;
    }
    .content {
        min-height: 100vh;
    }


    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20%;
        background-color: chartreuse;

    }


    .make-me-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;

        padding: 0 15px;
    }
