
    h1{
        font-family: 'Montserrat', sans-serif;
    }
    h2{
        font-family: 'Montserrat', sans-serif;
    }
    h3{
        font-family: 'Montserrat', sans-serif;
    }
    .sub-heading{
        font-weight: 250;
    }
    .brdr {
        border: solid black 1px;
    }

    #navbarNav {
        padding-right: 10%;
    }

    .title {
        height: 100vh;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
    }
    .title .icondiv{
        padding: 170px 10% 5% 10%;

    }
    .title .field-notes{
        border: dotted black 3px;
    }
    .sec-main-heading{
        text-align: center;
    }
    .main-heading{
        border-bottom: dotted black 2px;
        margin: 0% 25% 0 25%;
}
.sticky-heading{
    border-bottom: dotted black 1px;
    margin: 0% 25% 0 25%;
}
    .title .heading{
        padding: 0% 10% 10% 10%;
    }
    .sidebar {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
    .make-me-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 0 15px;
    }
